/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Typo */
body {
  font-family: 'Rubik', sans-serif;
}

/* Debug */
.debug .container {
  background-color: rgba(0, 0, 0, 0.5);
}

.debug header {
  background-color: burlywood;
  filter: opacity(0.75);
}

.debug main {
  background-color: blue;
}

.debug footer {
  background-color: purple;
}

/* Commons */
.container {
  display: flex;
  min-height: 100vh;
}

aside, header, main, footer {
  flex-shrink: 0;
}

/* Header */
header {
  position: fixed;
  top: 0;
  left: 300px;
  z-index: 998;
  width: calc(100% - 300px);
  height: 80px;
}

/* Aside */
aside {
  display: flex;
  flex-direction: column;
  width: 300px;
  height: calc(100vh - 100px);
  color: #808080;
  background-color: #000;
  font-size: 1.1rem;
}

.logo {
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.logo img {
  max-width: 180px;
  max-height: 100%;
}

.main-nav__menu {
  list-style-type: none;
  line-height: 2rem;
}

.main-nav__item {
  border-left: 3px solid transparent
}

.main-nav__item.selected {
  border-left: 3px solid #ADFF2F;
  color: #fff;
}

.main-nav__item-link {
  padding-left: 20px;
  padding-right: 20px;
  text-decoration: none;
  color: inherit;
}

.main-nav__item-link.home::before,
.main-nav__item-link.search::before,
.main-nav__item-link.library::before {
  font-family: 'Font Awesome 6 Free';
  font-weight: 900;
  margin-right: 10px;
}

.main-nav__item-link.home::before {
  content: '\f015';
}

.main-nav__item-link.search::before {
  content: '\f002';
}

.main-nav__item-link.library::before {
  content: '\f080';
}

/* Main */
main {
  width: calc(100% - 300px);
  height: calc(100vh - 100px);
  padding-top: 100px;
  overflow-y: auto;
}

/* Footer */
footer {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  height: 100px;
}

/* Responsive */
/* Breakpoints: 1100px, 700px, 600px */

/* Small */
@media screen and (max-width: 600px) {
  aside {
    width: 50px;
  }

  main {
    width: calc(100% - 50px);
  }

  header {
    left: 50px;
    width: calc(100% - 50px);
  }
}