/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Typo */
body {
  font-family: 'Rubik', sans-serif;
}

/* Commons */
.container {
  display: flex;
  min-height: 100vh;
}

aside, header, main, footer {
  flex-shrink: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style-type: none;
}

/* Header */
header {
  position: fixed;
  top: 0;
  left: 300px;
  z-index: 998;
  width: calc(100% - 300px);
  height: 80px;
  background-color: rgba(0, 0, 0, 0.5);
}

/* Aside */
aside {
  display: flex;
  flex-direction: column;
  width: 300px;
  height: calc(100vh - 100px);
  color: #808080;
  background-color: #000;
  font-size: 1.1rem;
  overflow: hidden;
}

.logo {
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.logo img {
  max-width: 180px;
  max-height: 100%;
}

.main-nav__menu {
  line-height: 2rem;
}

.main-nav__item {
  border-left: 3px solid transparent
}

.main-nav__item.selected {
  border-left: 3px solid #ADFF2F;
  color: #fff;
}

.main-nav__item-link {
  padding-left: 20px;
  padding-right: 20px;
  color: inherit;
}

.main-nav__item-link.home::before,
.main-nav__item-link.search::before,
.main-nav__item-link.library::before {
  font-family: 'Font Awesome 6 Free';
  font-weight: 900;
  margin-right: 10px;
}

.main-nav__item-link.home::before {
  content: '\f015';
}

.main-nav__item-link.search::before {
  content: '\f002';
}

.main-nav__item-link.library::before {
  content: '\f080';
}

.side-bar__playlist {
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 20px;
}

.side-bar__playlist-header {
  margin-bottom: 20px;
}

.side-bar__playlist-title {
  color: #fff;
  text-transform: uppercase;
  font-size: 1.3rem;
  font-weight: 600;
  margin-bottom: 5px;
}

.side-bar__playlist-link {
  font-size: 1.2rem;
  font-weight: 600;
}

.side-bar__playlist-link::before {
  content: '\f0fe';
  font-family: 'Font Awesome 6 Free';
  font-weight: 900;
  margin-right: 10px;
  font-size: 3rem;
  vertical-align: middle;
}

.side-bar__playlist-body {
  max-height: 180px;
  overflow-y: auto;
}

.side-bar__playlist-item {
  line-height: 2.35rem;
}

.side-bar__bottom {
  margin-top: auto;
  padding-left: 20px;
  padding-right: 20px;
}

.side-bar__bottom hr {
  margin-top: 10px;
  margin-bottom: 10px;
}

.install::before {
  content: '\f0ab';
  font-family: 'Font Awesome 6 Free';
  font-weight: 900;
  margin-right: 10px;
  vertical-align: middle;
}

.profile {
  background-color: #000;
}

.profile a {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}

.profile__avatar {
  width: 30px;
  height: 30px;
  margin-right: 10px;
  background-color: #808080;
  border-radius: 50%;
  padding: 2px 5px;
}

.profile__name {
  color: #fff;
}

/* Main */
main {
  width: calc(100% - 300px);
  height: calc(100vh - 100px);
  padding-top: 100px;
  overflow-y: auto;
  background-color: #141922;
}

/* Footer */
footer {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  height: 100px;
  background-color: #282828;
}

/* Responsive */
/* Breakpoints: 1100px, 700px, 600px */

/* Small */
@media screen and (max-width: 600px) {
  aside {
    width: 50px;
  }

  main {
    width: calc(100% - 50px);
  }

  header {
    left: 50px;
    width: calc(100% - 50px);
  }
}