/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Typo */
body {
  font-family: 'Rubik', sans-serif;
}

/* App Top */
.app-top {
  position: fixed;
  top: 0;
  right: 0;
  width: calc(100% - 300px);
  height: 90px;
  z-index: 998;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background-color: rgba(0, 0, 0, 0.5);
}

/* App Content */
.app-main {
  display: flex;
  height: calc(100vh - 90px);
}

.app-main__content {
  width: calc(100% - 300px);
  padding-top: 110px;
  overflow-y: auto;
  background-color: #141922;
}

.main-nav {
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-nav__menu {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  list-style-type: none;
  column-gap: 30px;
  padding: 0 30px;
}

.main-nav__item {
  color: #73757A;
  font-size: 1.125rem;
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom: 40px;
  position: relative;
}

.main-nav__item--selected::before {
  content: '';
  position: absolute;
  bottom: -3px;
  left: 50%;
  transform: translateX(-50%);
  width: 40%;
  height: 3px;
  background-color: #ADFF2F;;
  border-radius: 2px;
}

.main-nav__link {
  text-decoration: none;
  color: inherit;
}

.recently-played, .suggestions {
  display: flex;
  flex-direction: column;
  padding: 0 30px;
  margin-bottom: 30px;
}

.recently-played__title, .suggestions__title {
  font-size: 1.75rem;
  font-weight: 600;
  color: #fff;
  margin-bottom: 30px;
}

.recently-played__list, .suggestions__list {
  display: flex;
  flex-flow: row wrap;
  text-align: center;
  column-gap: 20px;
}

.recently-played__item, .suggestions__item {
  width: calc(100% / 6 - 20px);
}

.recently-played__album-img, .suggestions__album-img {
  width: 100%;
  height: 100%;
}

.recently-played__item-title, .suggestions__item-title {
  font-size: 1.125rem;
  font-weight: 600;
  color: #fff;
  margin: 10px 0 5px;
}

.recently-played__item-artist {
  font-size: 0.875rem;
  font-weight: 500;
  color: #73757A;
  margin-bottom: 10px;
}

.suggestions__title {
  margin-bottom: 5px;
}

.suggestions__text {
  font-size: 1rem;
  font-weight: 500;
  color: #73757A;
  margin-bottom: 30px;
}

/* Side Bar */
.side-bar {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  width: 300px;
  background-color: #000;
  overflow: hidden;
}

.side-bar__logo {
  flex-shrink: 0;
  height: 70px;
}

.side-bar__logo-img {
  height: 100%;
  padding: 10px 20px;
}

.side-bar__logo-img--small {
  display: none;
}

.side-bar__menu {
  flex-shrink: 0;
}

.side-bar__menu-list {
  color: #808080;
  padding: 0 20px;
  font-size: 1.25rem;
  list-style-type: none;
}

.side-bar__list-item {
  margin-bottom: 10px;
}

.side-bar__list-item--selected {
  color: #fff;
  position: relative;
}

.side-bar__menu .side-bar__list-item--selected::before {
  content: ' ';
  position: absolute;
  top: 0;
  left: -20px;
  background-color: #ADFF2F;
  width: 3px;
  height: 100%;
}

.side-bar__list-item--selected .side-bar__item-icon-path {
  fill: #fff;
}

.side-bar__item-link {
  color: inherit;
  text-decoration: none;
}

.side-bar__item-icon {
  max-width: 30px;
  vertical-align: middle;
}

.side-bar__item-icon-path {
  fill: #808080;
}

.side-bar__item-text {
  vertical-align: middle;
}

.side-bar__create-playlist {
  padding: 20px;
}

.side-bar__create-playlist-title {
  font-size: 1.375rem;
  font-weight: 600;
  color: #fff;
  text-transform: uppercase;
}

.side-bar__create-playlist-link {
  color: #808080;
  font-size: 1.25rem;
  font-weight: 500;
  text-decoration: none;
}

.side-bar__create-playlist-icon {
  font-size: 3rem;
  vertical-align: middle;
}

.side-bar__create-playlist-text {
  margin-left: 5px;
  vertical-align: middle;
}

.side-bar__playlists {
  flex-grow: 1;
  overflow-y: auto;
}

.side-bar__playlists-list {
  color: #808080;
  font-size: 1.25rem;
  padding: 0 20px;
  list-style-type: none;
}

.side-bar__playlists-list .side-bar__list-item {
  margin-bottom: 10px;
}

.side-bar__info {
  padding: 0 20px;
}

.side-bar__install-link {
  display: flex;
  align-items: center;
  flex-shrink: 0;
  margin-bottom: 10px;
  color: #808080;
  text-decoration: none;
}

.side-bar__install-name {
  font-size: 1.125rem;
  font-weight: 400;
  margin-left: 10px;
}

.side-bar__install-icon {
  font-size: 1.125rem;
}

.side-bar hr {
  height: 1px;
  background-color: #808080;
  border: none;
}

.side-bar__profile-link {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  margin: 10px 0;
  text-decoration: none;
}

.side-bar__profile-name {
  font-size: 1.125rem;
  font-weight: 600;
  color: #fff;
  margin-left: 10px;
}

.side-bar__profile-icon {
  color: #808080;
  font-size: 1.375rem;
}

/* App Bottom */
.app-bottom {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 90px;
  z-index: 999;
  background-color: #282828;
}

.app-bottom__music-player {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  padding: 0 10px;
}

.music-player__container {
  display: flex;
  align-items: center;
  height: 100%;
  width: 25%;
}

.music-player__container--left {
  justify-content: flex-start;
  column-gap: 20px;
}

.music-player__container--right {
  justify-content: flex-end;
}

.music-player__container--center {
  padding: 10px 0;
  flex-direction: column;
  justify-content: center;
  width: 50%;
}

.music-player__cover {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 50px;
  height: 100%;
}

.music-player__cover-img {
  max-width: 100%;
  max-height: 100%;
}

.music-player__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.music-player__title {
  font-size: 1.125rem;
  font-weight: 600;
  color: #fff;
}

.music-player__artist {
  font-size: 0.875rem;
  font-weight: 400;
  color: #808080;
}

.music-player__actions {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  column-gap: 10px;
  color: #808080;
}

.music-player__controls,
.music-player__additional-controls {
  color: #fff;
  column-gap: 10px;
}

.music-player__actions > *,
.music-player__controls > *,
.music-player__additional-controls > * {
  text-decoration: none;
  color: inherit;
}

.music-player__controls {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 20px;
  font-size: 1.5rem;
}

.music-player__controls > * {
  vertical-align: middle;
}

.music-player__controls-play {
  font-size: 2.25rem;
  padding: 0 10px;
  vertical-align: middle;
}

.music-player__track-duration {
  display: flex;
  align-items: center;
  column-gap: 20px;
  width: 75%;
  height: 100%;
}

.track-duration__current, .track-duration__total {
  font-size: 0.875rem;
  font-weight: 500;
  color: #fff;
}

.track-duration__track-progress-bar {
  width: 100%;
  height: 4px;
  background-color: #808080;
  border-radius: 2px;
}

.track-progress-bar__fill {
  width: 20%;
  height: 100%;
  background-color: #fff;
  border-radius: 2px;
}

.music-player__additional-controls {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
}

.music-player__volume-progress-bar {
  width: 100%;
  height: 4px;
  background-color: #808080;
  border-radius: 2px;
  max-width: 100px;
}

.volume-progress-bar__fill {
  width: 20%;
  height: 100%;
  background-color: #fff;
  border-radius: 2px;
}

/* Buttons */
.btn {
  display: inline-block;
  padding: 0;
  border: none;
  background-color: transparent;
  border-radius: 0;
  font-size: 1rem;
  font-weight: 400;
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

.btn--upgrade {
  background-color: #0A0C11;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 30px;
  padding: 12px 40px;
  font-size: 1.125rem;
  font-weight: 500;
  margin-right: 20px;
}

/* Responsive */
@media screen and (max-width: 1100px) {
  .recently-played__item, .suggestions__item {
    width: calc(100% / 4 - 20px);
  }
}

@media screen and (max-width: 700px) {
  .recently-played__item, .suggestions__item {
    width: calc(100% / 3 - 20px);
  }
}

@media screen and (max-width: 600px) {
  .app-top {
    width: calc(100% - 60px);
  }

  .app-main__content {
    width: calc(100% - 60px);
  }

  .recently-played__item, .suggestions__item {
    width: calc(100% / 2 - 20px);
  }

  .side-bar {
    width: 60px;
  }

  .side-bar__logo {
    align-self: center;
  }

  .side-bar__logo-img {
    width: 100%;
    padding: 10px;
  }

  .side-bar__logo-img--big {
    display: none;
  }

  .side-bar__logo-img--small {
    display: block;
  }

  .side-bar__menu-list {
    padding: 0 15px;
  }

  .side-bar__list-item {
    margin-bottom: 10px;
  }

  .side-bar__item-text {
    display: none;
  }

  .side-bar__create-playlist {
    display: none;
  }

  .side-bar__playlists {
    display: none;
  }

  .side-bar__info {
    margin-top: auto;
  }

  .side-bar hr {
    display: none;
  }

  .side-bar__install-name {
    display: none;
  }

  .side-bar__profile-name {
    display: none;
  }

  .music-player__container--left {
    column-gap: 10px;
  }

  .music-player__cover {
    min-width: 40px;
  }

  .music-player__title {
    font-size: 0.875rem;
  }

  .music-player__artist {
    font-size: 0.625rem;
  }

  .music-player__controls > :last-child {
    margin-right: 0;
  }

  .music-player__controls {
    font-size: 1.25rem;
    column-gap: 10px;
  }

  .music-player__controls-play {
    font-size: 1.75rem;
  }

  .music-player__track-duration {
    column-gap: 5px;
  }

  .track-duration__current, .track-duration__total {
    font-size: 0.75rem;
  }

  .music-player__additional-controls {
    font-size: 0.875rem;
  }
}