/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Typo */
body {
  font-family: 'Rubik', sans-serif;
}

/* Commons */
.container {
  display: flex;
  min-height: 100vh;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style-type: none;
}

/* Buttons */
.btn {
  padding: 12px 40px;
  border: 1px solid #fff;
  border-radius: 30px;
  background-color: transparent;
  color: #fff;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
}

.btn-action {
  padding: 0;
  border: none;
  border-radius: 0;
  font-size: 1.6rem;
}

.btn--upgrade {
  text-transform: uppercase;
}

/* Header */
header {
  position: fixed;
  top: 0;
  left: 300px;
  z-index: 998;
  width: calc(100% - 300px);
  height: 100px;
  background-color: rgba(0, 0, 0, 0.5);
}

.upgrade {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 100%;
}

/* Aside */
aside {
  display: flex;
  flex-direction: column;
  width: 300px;
  height: calc(100vh - 100px);
  color: #808080;
  background-color: #000;
  font-size: 1.1rem;
  overflow: hidden;
}

.logo {
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.logo-img-big {
  max-width: 180px;
  max-height: 100%;
}

.logo-img-small {
  max-width: 100%;
  max-height: 100%;
  display: none;
}

.main-nav__menu {
  line-height: 2rem;
}

.main-nav__item {
  border-left: 3px solid transparent;
  margin-bottom: 10px;
}

.main-nav__item.selected {
  border-left: 3px solid #ADFF2F;
  color: #fff;
}

.main-nav__item-link {
  display: flex;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
  color: inherit;
}

.main-nav__item-link img {
  max-width: 30px;
  max-height: 30px;
}

.main-nav__item-link span {
  margin-left: 10px;
}

.side-bar__playlist {
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 20px;
}

.side-bar__playlist-header {
  margin-bottom: 20px;
}

.side-bar__playlist-title {
  color: #fff;
  text-transform: uppercase;
  font-size: 1.3rem;
  font-weight: 600;
  margin-bottom: 5px;
}

.side-bar__playlist-link {
  font-size: 1.2rem;
  font-weight: 600;
}

.side-bar__playlist-link::before {
  content: '\f0fe';
  font-family: 'Font Awesome 6 Free';
  font-weight: 900;
  margin-right: 10px;
  font-size: 3rem;
  vertical-align: middle;
}

.side-bar__playlist-body {
  max-height: 180px;
  overflow-y: auto;
}

.side-bar__playlist-item {
  line-height: 2.35rem;
}

.side-bar__bottom {
  margin-top: auto;
  padding-left: 20px;
  padding-right: 20px;
}

.side-bar__bottom hr {
  margin-top: 10px;
  margin-bottom: 10px;
}

.install__link {
  display: flex;
  align-items: center;
}

.install__link img {
  max-width: 30px;
  max-height: 30px;
}

.install__link span {
  margin-left: 10px;
}

.profile {
  background-color: #000;
}

.profile__link {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}

.profile__avatar {
  width: 30px;
  height: 30px;
  margin-right: 10px;
  background-color: #808080;
  border-radius: 50%;
  padding: 2px 5px;
}

.profile__name {
  color: #fff;
}

/* Main */
main {
  width: calc(100% - 300px);
  height: calc(100vh - 100px);
  padding-top: 110px;
  overflow-y: auto;
  background-color: #141922;
}

/* Footer */
footer {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  height: 100px;
  background-color: #282828;
  color: #fff;
  padding: 20px 10px;
}

.row {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
}

.col-left, .col-right {
  height: 100%;
  width: 25%;
}

.col-center {
  height: 100%;
  width: 50%;
}

footer .album {
  height: 100%;
  display: flex;
  align-items: center;
  column-gap: 15px;
}

footer .album-img {
  max-width: 25%;
  max-height: 100%;
}

footer .album-info__artist,
footer .album .like,
footer .album .add-playlist {
  color: #808080;
}

footer .album .like,
footer .album .add-playlist {
  font-size: 1.3rem;
}

footer .album .like {
  margin-left: 40px;
}

.action-btn-row {
  display: flex;
  justify-content: center;
  column-gap: 20px;
}

.play {
  margin-left: 10px;
  margin-right: 10px;
  font-size: 2.2rem;
}

.duration-row {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  column-gap: 40px;
}

.actual-time, .max-time {
  font-size: 0.875rem;
  font-weight: 600;
}

.play-bar {
  width: 100%;
  height: 5px;
  background-color: #808080;
  border-radius: 5px;
  margin-top: 5px;
}

.play-bar__progress {
  width: 20%;
  height: 100%;
  background-color: #C1C1C1;
  border-radius: 5px;
}

/* Responsive */
/* Breakpoints: 1100px, 700px, 600px */

/* Small */
@media screen and (max-width: 600px) {
  aside {
    width: 50px;
  }

  .logo, .main-nav__item-link {
    padding-left: 10px;
    padding-right: 10px;
  }

  .logo-img-big {
    display: none;
  }

  .logo-img-small {
    display: block;
  }

  .main-nav__item, .main-nav__item.selected {
    border: 0;
  }

  .main-nav__menu {
    line-height: 0;
  }

  .main-nav__item-link span {
    display: none;
  }

  .side-bar__playlist {
    display: none;
  }

  .side-bar__bottom hr {
    visibility: hidden;
  }

  .side-bar__bottom {
    padding-left: 10px;
    padding-right: 10px;
  }

  .install__link span {
    display: none;
  }

  .profile__name {
    display: none;
  }

  .profile__avatar {
    width: 30px;
    height: 30px;
    margin-right: 0;
    padding: 2px 5px;
  }

  main {
    width: calc(100% - 50px);
  }

  header {
    left: 50px;
    width: calc(100% - 50px);
  }
}